<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- SQL definition -->

<mapper namespace="UserMapper10">
	<resultMap type="user" id="userSelectRM">
		<result property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="age" column="age"/>
		<result property="grade" column="grade"/>
		<result property="regDate" column="reg_date"/>
	</resultMap>

	<insert id="addUser" parameterType="user">
		insert into 
		users(user_id,user_name,password,age,grade,reg_date) 
		values(#{userId},#{userName},#{password},#{age},#{grade},#{regDate})
	</insert>	
	
	<update id="updateUser" parameterType="user">
		update users
		set user_name=#{userName}
		where user_name="주몽"
	</update>
	
	<delete id="removeUser" parameterType="string">
		delete
		from users
		where user_id=#{value}
	</delete>

	<sql id="select-users">
		select user_id,user_name,password,age,grade,reg_date from users
	</sql>
	<sql id="orderby-user_id-desc">
		ORDER BY user_id DESC
	</sql>

	<!-- 정적인 쿼리 -->
	<select id="getUser" parameterType="user" resultMap="userSelectRM">
		<include refid="select-users"/>
		where user_id=#{userId}
		<include refid="orderby-user_id-desc"/>
	</select>
	
	<!-- 동적인 쿼리 -->
	<select id="getUserList" parameterType="user" resultMap="userSelectRM">
		<include refid="select-users"/>		
		<where>
			<if test="userName !=null">
				user_name LIKE #{userName}
			</if>
			<if test="age !=null">
				or age LIKE #{age}
			</if>
		</where>
		<include refid="orderby-user_id-desc"/>
	</select>	
</mapper>